# @format

services:
    nginx:
        image: nginx:1.29.1-alpine3.22
        container_name: '${PROJECT_NAME}_nginx'
        volumes:
            - './local/nginx/mime.types:/etc/nginx/mime.types'
            - './local/nginx/nginx.conf:/etc/nginx/nginx.conf'
            - './local/nginx/default.conf:/etc/nginx/conf.d/default.conf'
            - '..:/var/www/html:cached'
        working_dir: /var/www/html
        ports:
            - '80:80'
            - '443:443'
        networks:
            local:
                aliases:
                    - ishdi.localdev

    php:
        build: ./local/php
        container_name: '${PROJECT_NAME}_php'
        ports:
            - '9000:9000'
        environment:
            - SSH_AUTH_SOCK=/ssh-agent
            - CHOKIDAR_USEPOLLING=true
            - WATCHPACK_POLLING=true
        volumes:
            - '../:/var/www/html:cached'
            - './backup/db:/db'
        working_dir: /var/www/html
        tty: true
        networks:
            - local

    database:
        image: 'mariadb:11.4.5'
        container_name: '${PROJECT_NAME}_db'
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
            MYSQL_DATABASE: wp_db
        ports:
            - '3306:3306'
        volumes:
            - './db_data:/var/lib/mysql:delegated'
            - ./backup/db:/db
        networks:
            - local

networks:
    local:
volumes:
    db_data:
